'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'RSpec Focus'
      'submenu': [
        {
          'label': 'toggle'
          'command': 'rspec-focus:toggle'
        }
      ]
    ]
  }
]
